#color_heading{
font-size: 23px;
width:100%;
margin:0px;
border-radius: 5px;
height:70px;
background-image: linear-gradient(to right, rgb(24, 201, 201), #d60077);
color:white
}


.note{
    font-size: 15px;
    color: black;
    color: #fbbede;
}

body{
    background-size:cover;
}

canvas{
    margin-top: 40px;
    background-color: black;
    width:50%;
    height:30%;
    border-radius: 23px;
    border: 5px solid white;
    box-shadow: 4px 4px 4px cyan;
}

#Stop{
    font-size:30px;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
}